@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
.body {
  background: var(--Very-Light-Gray);
}
.body-dark {
  background: var(--Very-Dark-Blue-Dark-Mode);
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4rem;
  padding: 0 4rem;
}
.country-card {
  width: 300px;
  height: 350px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card-image {
  width: 100%;
  height: 50%;
}
.card-image > img {
  width: 100%;
  height: 100%;
}
.card-body {
  padding: 1.4rem;
  height: 50%;
}
.card-body-light {
  background: var(--White);
}
.card-body-dark {
  background: var(--Dark-Blue);
}
.card-body > .name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  margin-bottom: 5rem;
}
.navbar-light {
  background: var(--White);
}
.navbar-dark {
  background: var(--Dark-Blue);
}
.nav-header {
  flex: 1;
}
.mode {
  padding: 1rem 0;
  font-size: 1.2rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.mode-light {
  color: var(--Dark-Blue);
}
.mode-dark {
  color: var(--White);
}
.nav-header-dark {
  flex: 1;
  color: var(--White);
}
.card-body > div {
  color: var(--Dark-Gray);
  margin-bottom: 0.4rem;
}
.country-span-light {
  font-weight: 600;
  color: var(--Dark-Blue);
}
.country-span-dark {
  color: var(--White);
}
.name-light {
  color: var(--Dark-Blue);
}
.name-dark {
  color: var(--White);
}
.inputs {
  margin-bottom: 5rem;
  padding: 0 4rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.input-search {
  width: 560px;
  padding: 0.5rem 2.4rem;
  margin-right: auto;
}
.input-search-light {
  box-shadow: 0 0 6px 2px rgb(230, 230, 230);
  background: var(--White);
}
.input-search-dark {
  background: var(--Dark-Blue);
  box-shadow: 0 0 6px var(--Very-Dark-Blue-Light-Mode);
}
.select-region-dark,
.sort-select-dark {
  color: var(--White);
}
.select-region-light,
.sort-select-light {
  color: var(--Dark-Gray);
}
.input-search > input {
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 1rem;
  background: none;
}
.input-search > input::placeholder {
  color: var(--Dark-Gray);
  font-weight: 400;
}
.search-icon {
  margin-right: 0;
  font-size: 1.3rem;
  color: var(--Dark-Gray);
}
.input-select,
.subregion-select,
.sort-population-select {
  display: flex;
  place-content: center;
  width: 200px;
  padding: 0 1rem;
}
.input-select-light,
.subregion-select-light,
.sort-population-select-light {
  background: var(--White);
  /* color: var(--Dark-Gray); */
  box-shadow: 0 0 6px 2px rgb(230, 230, 230);
}
.input-select-dark,
.subregion-select-dark,
.sort-population-select-dark {
  background: var(--Dark-Blue);
  /* color: var(--Dark-Gray); */
}
.input-select > select,
.subregion-select > select,
.sort-population-select > select {
  font-size: 1rem;
  width: 100%;
  background: none;
  border: none;
  outline: none;
}
.skeleton {
  height: 350px;
  width: 300px;
}
.content-skeleton {
  padding: 1rem;
}

.no-country {
  height: 64vh;
  width: 60vh;
  margin: auto;
  overflow: hidden;
}
.back-btn {
  font-size: 1.3rem;
  border: none;
  outline: none;
  padding: 0.8rem 2.4rem;
  border-radius: 0.5rem;
  margin-left: 4rem;
}
.back-btn-dark {
  background: var(--Dark-Blue);
  color: var(--Very-Light-Gray);
}
.back-btn-light {
  background: white;
  color: var(--Very-Dark-Blue-Light-Mode);
}
.card-detail {
  display: flex;
  padding: 4rem;
  gap: 6rem;
  height: 75vh;
}
.card-detail-image {
  width: 40%;
}
.card-detail-image > img {
  width: 100%;
}
.card-detail-content {
  padding: 3rem 6rem;
}
.card-detail-content > h1 {
  margin-bottom: 2.5rem;
  font-size: 2.7rem;
}
.card-detail-content-light > h1 {
  color: var(--Very-Dark-Blue-Light-Mode);
}
.card-detail-content-dark > h1 {
  color: var(--Very-Light-Gray);
}
.detail-content {
  display: flex;
  gap: 6rem;
}
.detail-content-1 > p, .detail-content-2 > p {
  margin-bottom: 1rem;
}
.detail-content-1-light > p, .detail-content-2-light > p {
  color: var(--Very-Dark-Blue-Light-Mode);
}
.detail-content-1-dark > p, .detail-content-2-dark > p {
  color: var(--Very-Light-Gray);
}
.border-countries > button {
  padding: 0.2rem 1.5rem;
  margin-left: 1rem;
  background: none;
  outline: none;
  border: 1px solid var(--Dark-Gray);
  box-shadow: 0 0 2px 4px rgb(241, 241, 241);
  cursor: pointer;
}
.border-countries-light > button, .border-countries-light > b {
  color: black
}
.border-countries-dark > button, .border-countries-dark > b {
  color: var(--Very-Light-Gray);
}